/* @see https://github.com/aFarkas/lazysizes#broken-image-symbol */

  /* @see https://github.com/aFarkas/lazysizes#automatically-setting-the-sizes-attribute */

  .download-table ul&gt; 

  li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(30, 47, 70, 0.1);
  }



  