/* body { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; margin: 0; padding: 0; } */

li { list-style: none; }
ul, ol, li { margin: 0; padding: 0; }


pre[class*="language-"] > code[data-language] { overflow: auto !important; }

/* section { margin: 50px 0; } */

img { 
  max-width: 100%; 
  padding-right:5px;
}

img:not(.tns-lazy-img), .lazyload img { height: auto; }
.autoWidth img { max-width: none; }
.autoHeight img { width: 100%; }
.img {
  font-size: 100px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.img a {
  display: block;
  padding: 22% 0;
  color: inherit;
  text-decoration: none;
}
.visually-hidden {
  position: fixed;
  left: -10000px;
  opacity: 0;
}

/* .img-1 { background: #D6D65B; background: hsl(60, 60%, 60%); } */
.img-1 { background: #f0f3f7;  }
/* 
.img-2 { background: #5BD6AD; background: hsl(160, 60%, 60%); }
.img-3 { background: #5B99D6; background: hsl(210, 60%, 60%); }
.img-4 { background: #D65BC1; background: hsl(310, 60%, 60%); }
.img-5 { background: #70D65B; background: hsl(110, 60%, 60%); }
.img-6 { background: #D65B5B; background: hsl(0, 60%, 60%); }
.img-7 { background: #D6995B; background: hsl(30, 60%, 60%); }
.img-8 { background: #705BD6; background: hsl(250, 60%, 60%); } */


.customize-tools { position: relative; }


.tns-controls { text-align: center; margin-bottom: 20px; }


.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #000;
  background: #66CCFF;
  border-radius: 3px;
  border: 0;
}
.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}
[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.tns-controls [disabled] { 
  color: #999999;
  background: #B3B3B3; 
  cursor: not-allowed !important;
}
.tns-nav {
  text-align: center;
  margin: 10px 0;
  display:none;
 
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}
.tns-nav > .tns-nav-active { background: #999; }
