/*
 *  *  Copyright Equity Dental
 *
--------------------------------------------------*/

.scroll-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 1;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	background-color: transparent;
	color: #fff !important;
	opacity: 0.75;
}
.navbar-default {
	border-color: transparent;
	background-color: transparent;
}
.navbar-brand {
	padding: 5px 15px 0;
}
.navbar {
	margin-bottom: 0;
	min-height: auto;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
	margin: 0 8px;
	font-weight: 400;
}


@media screen and (max-width: 1024px) {
	h2 {

		font-weight: 400;
		margin: 0;
	}
	a {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		outline: 0;
	}
	a:hover {
		text-decoration: none;
	}
		.white-color {
		color: #ffffff !important;
	}

	.scroll-up {
		position: fixed;
		bottom: 20px;
		right: 20px;
		display: none;
		z-index: 1;
	}
	
	.hidden-tab {
		display: none !important;
	}

	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
		background-color: transparent;
		color: #fff !important;
		opacity: 0.75;
	}
	.navbar-default {
		border-color: transparent;
		
		background-color: transparent;
	}
	.navbar-brand {
		padding: 5px 15px 0;
	}
	.navbar {
		margin-bottom: 0;
		min-height: auto;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff;
		font-size: 16px;
		margin: 0 8px;
		font-weight: 300;
	}
	.pos-right {
		margin-right: 100px;
	}
	

}


@media screen and (max-width: 767px) {

	h2 {
		font-weight: 400;
		margin: 0;
	}
	a {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		outline: 0;
	}
	a:hover {
		text-decoration: none;
	}

	.white-color {
		color: #ffffff !important;
	}
		
	.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
		background-color: transparent;
		color: #fff !important;
		opacity: 0.75;
	}
	.navbar-default {
		border-color: transparent;
		background-color: transparent;
	}
	.navbar-brand {
		padding: 5px 15px 0;
	}
	.navbar {
		margin-bottom: 0;
		min-height: auto;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff;
		font-size: 16px;
		margin: 0 8px;
		font-weight: 300;
	}
	.pos-right {
		margin-right: 100px;
	}
	
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 480px) {
		
}

@media screen and (max-width: 360px) {
	
}

@media screen and (max-width: 320px) {
	
}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}

#eq_ht_home_banner {
	padding: 100px 0 50px;
}
.l-top {
	margin-top: 100px !important;
}
#eq_ht_home_banner .h2-heading {
	font-size: 70px;
}

@media screen and (max-width: 1024px) {
#eq_ht_home_banner {
	padding: 100px 0 50px;
}
#eq_ht_home_banner .h2-heading {
	font-size: 50px;
}
#eq_ht_home_banner .l-top {
	margin-top: 50px !important;
}
}

@media screen and (max-width: 767px) {
#eq_ht_home_banner {
	padding: 100px 0 25px;
}
#eq_ht_home_banner .l-top {
	margin-top: 25px !important;
}
#eq_ht_home_banner .h2-heading{
	font-size: 40px;
}
}



@media screen and (max-width: 992px) {
}

.aboutus-grid-title {
	font-size: 25px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 0;
}

.dropdown-navigation-box {
	padding: 50px 0;
}	

@media screen and (max-width: 1024px){

    
}
@media screen and (max-width: 767px){

    
   
}



@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 992px) {


}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 480px) {

}

.l-top {
    margin-top: 100px;
}


@media screen and (max-width: 1024px) {

	.l-top {
		margin-top: 50px;
	}        

}

@media screen and (max-width: 992px) {
 
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
   
}

@media screen and (max-width: 767px) {


	.h2-heading {
		font-size: 40px;
		line-height: 40px;
	}

	.l-top {
		margin-top: 25px;
	}


}

@media screen and (max-width: 480px) {

    
}

.white-color {          
    color: #ffffff;
}

@media screen and (max-width: 992px) {
  
}



@media (max-width: 767px) {
	h2 {
		font-size: 40px;
	}
	
}	

.white-color {
    color: #ffffff !important;
}    


.white-color {
    color: #ffffff !important;
}



@media all and (max-width: 1024px) {

}

@media all and (max-width: 992px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {

}

@media all and (max-width: 640px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 360px) {
}

@media all and (max-width: 320px) {

}


.scroll-up {
	position: fixed;
	bottom: 20px;
	right: 18px;
	display: none;
	z-index: 1;
}


footer {
	/* color: #333; */
	color: #ffffff;

	background-color: #d9d9d9;
	background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

@media screen and (max-width: 767px) {
footer {
	background: #F8F8F8;
	color: #333;

}
}

